<section class="bg-dark-teal text-white py-5 position-relative overflow-hidden">
    <div class="container">
      <p class="mb-2">
        <h1 class="display-4 font-siz">{{listName}} Grid Style {{candidateNumber}}</h1>
        <small>Home</small>
        <span class="mx-2 text-white-50">/</span>
        <small>{{listName}}</small>
        <span class="mx-2 text-white-50">/</span>
        <small>{{listName}} Grid {{candidateNumber}}</small>
      <p>
      
    </div>
  
    <!-- Decorative shapes -->
    <div class="shape shape-1 position-absolute"></div>
    <div class="shape shape-2 position-absolute"></div>
  </section>

